textarea{
	width:100%
}

.block{
	margin-bottom:20px
}

.hrow {
	font-weight:bold
}

.hrow td{
	padding-top:20px;
	width:140px
}

.colorpicker{
	margin:0 auto !important
}

#my-ip{
	border:4px solid #5e5e5e;
	font-size:40px;
	font-weight:bold;
	background-color:#e7e7e7
}

.title{
	font-weight:bold
}

.custom-h1{
	font-size:16px
}

.custom-h2{
	font-size:14px
}

.gray{
	color:#000;
	background-color:#BBBDBF;
	border-color:#BBBDBF
}

.gray:hover,.gray:focus{
	background-color:#BBBDBF;
	border-color:#BBBDBF
}

.middle{
	margin-bottom:10px;
	margin-top:10px
}

#contact_form .control-label, .panel{
	text-align:left !important
}

#password-container{
	text-align:left
}
 
 #password-result,#block-buttons-password{
	text-align:center
}

#bw-picture-area,#lorem-ipsum-generated{
	min-height:500px
}

.navbar-brand{
	padding-top:10px
}

.navbar-brand img{
	display:inline-block
}

.custom-select{
	max-width:150px;
	height:34px
}

#base64-container #img{
	max-width:100%
}

#error-container{
	margin-top:10%
}